@import url("./components/nav.css"); 
@import url("./components/footer.css");
@import url("./components/button.css");
@import url("./components/card-horizontal.css"); 
@import url("./components/grids.css");
@import url("./components/form.css");
@import url("./components/detalle.css");
@import url("./components/estrenos.css");
@import url("./components/perfil.css");

/* Paletas de colores que pueden usar: */

/* Paleta 1: */
/*:root {
  --color-fondo: #0f172a;
  --color-superficie: #1e293b;
  --color-primario: #e11d48;
  --color-secundario: #f59e0b;
  --color-texto: #f8fafc;
  --color-texto-suave: #94a3b8;
}*/

/* Paleta 2: */
/*:root {
  --color-fondo: #fff8e7;
  --color-superficie: #ffe8a3;
  --color-primario: #e63946;
  --color-secundario: #ffb703;
  --color-texto: #1d3557;
  --color-texto-suave: #457b9d;
}*/

/* Paleta 3: */
:root {
  --color-fondo: #141414;
  --color-superficie: #1f1f1f;
  --color-primario: #e50914;
  --color-secundario: #00b4d8;
  --color-texto: #ffffff;
  --color-texto-suave: #b3b3b3;
  --space-s: 8px;
  --space-m: 16px;
  --space-l: 24px;
  --space-xl: 32px;
}

body {
  background-color: var(--color-fondo); 
  color: var(--color-texto); 
  margin: 0;
  font-family: "Arial", sans-serif; 
  line-height: 1.6;
}

/* Títulos con el rojo primario */
h1,
h2,
h3 {
  color: var(--color-texto);
}

/* Contenedor principal en Desktop */
.detalle-container {
  display: flex; 
  gap: var(--space-xl); 
  padding: var(--space-xl);
  max-width: 1200px;
  margin: 0 auto;
  align-items: flex-start;
}

.detalle-poster img {
  width: 350px;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.detalle-info {
  display: flex;
  flex-direction: column; 
  gap: var(--space-m);
  flex: 1; 
}

/* --- MEDIA QUERY (Para que en celular se vea uno abajo del otro) --- */
@media (max-width: 768px) {
  .detalle-container {
    flex-direction: column; 
    align-items: center;
    text-align: center;
  }

  .detalle-poster img {
    width: 100%; 
    max-width: 300px;
  }

  .badges-horarios {
    justify-content: center;
  }
}
main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

h2 {
  margin-bottom: 32px; 
  font-size: 2rem;
}
