.img-card-h {
  width: 100%;
  aspect-ratio: 2 / 3; 
  object-fit: cover; 
  border-bottom: 3px solid var(--primary-color);
  transition: filter 0.3s ease;
}

.card-horizontal:hover .img-card-h {
  filter: brightness(1.1); 
}
